.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #212121;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.list {
  list-style: none;
}

.img {
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header .logo {
  margin-right: 93px;
}

.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  /* identical to box height */
  color: #2196f3;
}

.logo__black {
  color: #000000;
}

.address {
  display: flex;
  align-items: center;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  min-width: 200px;
  /* height: 50px; */
  justify-content: center;
  color: #ffffff;
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
  outline: none;
}

.social-list {
  display: flex;
  margin: 16px 32px 30px;
  justify-content: space-between;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  /* color: #afb1b8; */
  background-color: #ffffff;
  /* border: none; */
  border-radius: 50%;
  /* cursor: pointer; */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover, .link-social:focus {
  background-color: #2196f3;
  outline: none;
}

.icon-link {
  /* display: block; */
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover .icon-link,
.link-social:focus .icon-link {
  fill: #ffffff;
  outline: none;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header::after {
  display: block;
  content: "";
  height: 1px;
  background-color: #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  margin-right: 305px;
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__link {
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link:hover, .menu-list__link:focus {
  color: #2196f3;
  outline: none;
}

.contact_mail {
  margin-right: 30px;
}

.active_link {
  color: #2196f3;
  outline: none;
}

.active_link::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  bottom: -32px;
}

.pic_smartphone,
.pic_envelope {
  /* display: inline-block; */
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_tel:hover .pic_smartphone,
.contact_tel:focus .pic_smartphone,
.contact_mail:hover .pic_smartphone,
.contact_mail:focus .pic_smartphone, .contact_tel:hover
.pic_envelope,
.contact_tel:focus
.pic_envelope,
.contact_mail:hover
.pic_envelope,
.contact_mail:focus
.pic_envelope {
  fill: #2196f3;
}

.contact_mail,
.contact_tel {
  display: flex;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_mail:hover, .contact_mail:focus,
.contact_tel:hover,
.contact_tel:focus {
  color: #2196f3;
  outline: none;
}

.hero {
  padding: 118px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/hero/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 480px 400px;
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/hero/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/hero/bg-tablet.jpg);
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/hero/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/hero/bg.jpg);
    background-size: cover;
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/hero/bg@2x.jpg);
  }
}

.features {
  padding-top: 60px;
}

.features__list__item {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.features__list__item:last-child {
  margin-bottom: 0;
}

.features__item-pic {
  display: block;
  padding: 25px 190px;
  /* content: ""; */
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
}

.features__pic {
  display: block;
  height: 70px;
  width: 70px;
  margin: 0;
}

.features__item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

.features__item-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }
  .features__list__item {
    display: block;
    flex-basis: 354px;
  }
  .features__list__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
  .features__item-pic {
    padding: 25px 142px;
  }
  .features__item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
  .features__list {
    display: flex;
    align-items: flex-start;
  }
  .features__list__item {
    display: block;
    flex-basis: 270px;
    margin-bottom: 0px;
  }
  .features__list__item:not(:last-child) {
    margin-right: 30px;
  }
  .features__item-pic {
    padding: 25px 100px;
  }
  .features__item-title {
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
  /* display: flex;
	align-items: center; */
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.about__list {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.about__img {
  position: relative;
  flex-basis: calc((100%-60) / 3);
  /* 370px; */
  overflow: hidden;
}

.about__img:not(:last-child) {
  margin-right: 30px;
}

.label {
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

.our_team {
  margin: 0 auto;
  margin-top: 60px;
  padding: 60px 15px;
  background-color: #f5f4fa;
}

.our_team__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.our_team__list {
  display: block;
  margin: 0;
  padding: 0;
}

.our_team__item {
  display: block;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our_team__item:not(:last-child) {
  margin-bottom: 30px;
}

.our_team__img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.our_team__person {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

.our_team__profession {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  text-align: center;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  /* display: flex;
	align-items: center; */
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.clients__list {
  display: flex;
  /* align-items: center; */
  margin-top: 50px;
  justify-content: space-between;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.client__icon {
  display: block;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196f3;
  outline: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 500ms linear;
}

.backdrop.is-hidden {
  transition: all 500ms linear 500ms;
}

.backdrop.is-hiddenn .modal {
  transform: translate(0) scale(0);
  transition: transform 1000ms linear 0ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  z-index: 100;
  background-color: #fff;
  padding: 40px;
  transition: transform 1000ms linear 500ms;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: #000000;
}

.btn-close:hover .icon-close {
  outline: none;
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form__input-block {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__form__label {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.icon_modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__input:focus + .icon_modal {
  fill: #2196f3;
}

.modal__form__comments {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__comments::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form__comments:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-policy__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.171;
  letter-spacing: 0.03em;
  /* identical to box height, or 171% */
  color: #757575;
  margin-bottom: 30px;
  margin-top: 10px;
}

.modal-form-policy__text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy__text::before {
  /* background-color: $accent-color; */
  border: transparent;
  background-image: url(../images_svg/icon_check.svg);
}

.modal-form-policy__link {
  color: #2196f3;
  text-decoration: none;
  position: relative;
}

.modal-form-policy__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  /* border-radius: 2px; */
  background-color: #2196f3;
  position: absolute;
  bottom: 4px;
}

.modal-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: block;
  align-items: center;
  margin: 0 auto;
  min-width: 200px;
  /* height: 50px; */
  letter-spacing: 0.06em;
  justify-content: center;
  color: #ffffff;
  padding: 10px 55px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover, .modal-form__btn:focus, .modal-form__btn:active {
  background-color: #188ce8;
  border-color: transparent;
  outline: none;
}

.logo__white {
  color: #ffffff;
}

.footer {
  background: #2f303a;
  max-width: 1600px;
}

.footer1 {
  display: flex;
  min-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer2 {
  display: block;
  width: 231px;
}

.footer__address {
  display: block;
}

.post_address {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
  margin: 20px 0 0 0;
}

.footer__contact_mail,
.footer__contact_tel {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer__socials {
  display: block;
  width: 206px;
  padding: 0;
  margin-left: 70px;
}

.footer__social-list {
  display: flex;
  margin-top: 20px;
  list-style: none;
  height: 44px;
  justify-content: space-between;
}

.dark_bg {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark_bg:hover, .dark_bg:focus {
  background-color: #2196f3;
  outline: none;
}

.dark_bg .icon-link,
.dark_bg:focus .icon-link,
.dark_bg:hover .icon-link {
  fill: #ffffff;
  outline: none;
}

.contact_us {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mail_input {
  display: block;
  width: 570px;
  padding: 0;
  margin: 0;
}

.subscribe {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.input_block {
  display: flex;
}

.input {
  /* display: block; */
  box-sizing: border-box;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  /* display: flex; */
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
}

/* 
transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
.mail_input .button {
  display: flexbox;
  margin-top: 20px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button .icon-link {
  display: block;
  margin-left: 10px;
  /* height: 24px;
	width: 24px; */
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */
