@media screen and (min-width: 320px) and (max-width: 1199px) {
	.about {
		display: none;
	}
}

.about {
	padding-top: 94px;
	padding-bottom: 94px;
	/* display: flex;
	align-items: center; */
}

.about__title {
	@include font(36px, 700, 1.167, 0.03em);
	text-align: center;
	color: #212121;
}

.about__list {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.about__img {
	position: relative;
	flex-basis: calc((100%-60) / 3);
	/* 370px; */
	overflow: hidden;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.label {
	display: block;
	width: 100%;
	padding-top: 27px;
	padding-bottom: 27px;
	background-color: rgba(47, 48, 58, 0.8);

	@include font(14px, 700, 1.143, 0.03em);
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	position: absolute;
	bottom: 0;
}
