.features {
	padding-top: 60px;

	&__list__item {
		display: block;
		width: 100%;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item-pic {
		display: block;
		padding: 25px 190px;
		/* content: ""; */
		height: 120px;
		margin-bottom: 30px;
		background-color: #f5f4fa;
		border-radius: 4px;
		justify-content: center;
	}

	&__pic {
		display: block;
		height: 70px;
		width: 70px;
		margin: 0;
	}

	&__item-title {
		@include font(14px, 700, 1.143, 0.03em);
		text-align: center;
		text-transform: uppercase;
		color: #212121;
	}

	&__item-description {
		@include font(14px, 400, 1.71, 0.03em);
		color: #757575;
		margin-top: 10px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.features {
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			align-items: flex-start;

			&__item {
				display: block;
				flex-basis: 354px;

				&:nth-child(n + 3) {
					margin-bottom: 0;
				}
			}
		}

		&__item-pic {
			padding: 25px 142px;
		}

		&__item-title {
			text-align: left;
		}
	}
}

@media screen and (min-width: 1200px) {
	.features {
		padding-top: 94px;

		&__list {
			display: flex;
			align-items: flex-start;
		}

		&__list__item {
			display: block;
			flex-basis: 270px;
			margin-bottom: 0px;

			&:not(:last-child) {
				margin-right: 30px;
			}
		}

		&__item-pic {
			padding: 25px 100px;
		}

		&__item-title {
			text-align: left;
		}
	}
}
