.our_team {
	margin: 0 auto;
	margin-top: 60px;
	padding: 60px 15px;
	background-color: #f5f4fa;

	&__title {
		@include font(28px, 700, 1.179, 0.03em);
		text-align: center;
		color: #212121;
		margin-bottom: 30px;
	}

	&__list {
		display: block;
		margin: 0;
		padding: 0;
		// margin-left: -15px;
		// margin-right: -15px;
	}

	&__item {
		display: block;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__img {
		display: block;
		width: 100%;
		margin-bottom: 30px;
		// margin: 0;
		// padding: 0;
	}

	&__person {
		@include font(16px, 500, 1.1875, 0.03em);
		color: #212121;
		margin-bottom: 10px;
		text-align: center;
	}

	&__profession {
		@include font(16px, 400, 1.1875, 0.03em);
		color: #757575;
		// margin-top: 10px;
		margin-bottom: 16px;
		text-align: center;
	}
}

// // .our_team {
// // 	/* margin-top: 94px; */
// // 	background: #f5f4fa;
// // 	padding-top: 94px;
// 	padding-bottom: 94px;

// 	&__title {
// 		@include font(36px, 700, 1.167, 0.03em);
// 		// font-weight: 700;
// 		// font-size: 36px;
// 		// line-height: 1.167;
// 		// letter-spacing: 0.03em;
// 		text-align: center;
// 		color: #212121;
// 		margin-bottom: 50px;
// 	}

// 	&__list {
// 		display: flex;
// 	}

// 	&__item {
// 		display: block;
// 		flex-basis: calc((100%-90) / 4);
// 		background: #ffffff;
// 		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
// 		border-radius: 0px 0px 4px 4px;

// 		&:not(:last-child) {
// 			margin-right: 30px;
// 		}
// 	}

// 	&__person,
// 	&__profession {
// 		@include font(16px, 500, 1.1875, 0.03em);
// 		// font-weight: 500;
// 		// font-size: 16px;
// 		// line-height: 1.1875;
// 		/* identical to box height */
// 		// letter-spacing: 0.03em;
// 		color: #212121;
// 		margin-top: 30px;
// 		text-align: center;
// 	}

// 	&__profession {
// 		font-weight: 400;
// 		color: #757575;
// 		margin-top: 10px;
// 	}
// }
